<footer id="contact">
  <div class="footer-column">
    <div class="footer-logo">
      <img src="assets\Logo.png" alt="logo majesto" class="logo" />
      <div class="logo-text">
        <p>MAJESTO</p>
        <p>Agency</p>
      </div>
    </div>
    <div class="whatsapp">
      <i class="fa-brands fa-whatsapp"></i>
      <p>41 98775-7175</p>
    </div>
    <address class="email">
      <a href="mailto:diretoria@majesto.ag">diretoria&#64;majesto.ag</a>
    </address>
  </div>
  <div class="footer-column">
    <a href="#home">Home</a>
    <a href="#about-us">Quem somos</a>
    <a href="#solutions">Soluções</a>
<!--<li><a href="#cases">Cases</a></li> Removido temporariamente-->
    <a href="#contact">Contato</a>
  </div>
  <div class="footer-column">
    <p>Curitiba | Brasil</p>
    <p>Av. Rep. Argentina, 665</p>
    <p>CEP 80240-210</p>

  </div>
  <div class="footer-column">
    <p>Siga-nos nas redes sociais</p>
    <div class="socials">
      <a href=""><i class="fa-brands fa-facebook" target="_blank"></i></a>
      <a href="https://www.instagram.com/majesto.ag/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/majesto-agency/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>

  </div>
</footer>
