<!--
<section class="home-section">
  <video
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    class="background-video"
    src="./assets/corporativeVideoAi.mp4"
  ></video>

  <app-header></app-header>
</section>

<app-customers></app-customers>

<ng-container *ngIf="showCases">
  <app-cases></app-cases>
</ng-container>

<ng-container>
  <app-about-us></app-about-us>
</ng-container>

<ng-container>
  <app-solutions></app-solutions>
</ng-container>

<ng-container>
  <app-customers-slide></app-customers-slide>
</ng-container>
-->

<ng-container>
  <app-success-cases></app-success-cases>
</ng-container>
