 <!--<section id="cases" class="success-cases">
  <div class="success-cases-container">
    Video Section
    <div class="video-section">
      <video [src]="getCurrentTestimonial().videoUrl" controls>
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="testimonials-section">
      <div class="testimonials-title">
        <span class="title-cases">CASES DE</span>
        <span class="title-sucesso">SUCESSO</span>
      </div>
      <div class="testimonial-box">
        <div class="testimonial-content">
          <p
            class="testimonial-author"
            #authorRef
            [ngStyle]="{ 'font-size.px': authorFontSize }"
          >
            {{ getCurrentTestimonial().author }}
          </p>
          <p
            class="testimonial-local-flex"
            #localRef
            [ngStyle]="{
              'width.px': localWidth,
              'font-size.px': localFontSize
            }"
          >
            <span *ngFor="let char of getLocalChars()">{{ char }}</span>
          </p>
          <p class="testimonial-text">"{{ getCurrentTestimonial().text }}"</p>
          <div class="span-content">
            <span class="testimonial-text-span"
              >UNIDADES COM <br />
              FATURAMENTO SUPERIOR <br />
              A R$ 1 MILHÃO/ANO.
            </span>
            <div class="span-bar"></div>
            <span class="testimonial-text-span-2">
              FRANQUEADOS COM <br />
              HISTÓTIAS INSPIRADORAS <br />
              DE SUCESSO E <br />
              LONGEVIDADE
            </span>
          </div>
        </div>

        <div class="navigation-arrows">
          <button class="arrow-btn prev" (click)="previousTestimonial()">
            <img
              src="assets/Flecha_pg_5.webp"
              alt="Anterior"
              class="arrow-img left"
            />
          </button>
          <button class="arrow-btn next" (click)="nextTestimonial()">
            <img
              src="assets/Flecha_pg_5.webp"
              alt="Próximo"
              class="arrow-img right"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
-->
