.success-cases {
  height: 100vh;
  width: 100%;
}

.success-cases-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
}

.video-section {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
  padding: 0;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    box-shadow: none;
  }
}

.testimonials-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: url("/assets/cases-bg.webp") center/cover;
  background-size: 200%;
  padding-left: 9.8rem;
  position: relative;
  font-family: "Poppins", sans-serif;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 55%;
    height: 78%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;
  }
}

.testimonials-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 2;
  text-align: center;
}

.title-cases {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
}

.title-sucesso {
  font-size: 3.8rem;
  font-weight: 800;
  font-style: bold;
  color: white;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1;
}

.testimonial-box {
  position: relative;
  background: #9c1b33;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  height: 45%;
  z-index: 2;
}

.testimonial-content {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.testimonial-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-style: bold;
}

.testimonial-author,
.testimonial-local-flex {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
}

.testimonial-author {
  font-size: 2rem;
  font-style: bold;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
}

.testimonial-local-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: -0.3rem;
  padding: 0 10px;
}

.testimonial-local {
  display: block;
  font-size: 1.1rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  text-align: center;
  width: 100%;
  letter-spacing: 0.15em;
}

.navigation-arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 3.6rem);
  top: 7rem;
}

.arrow-btn {
  background: transparent;
  border: none;
  box-shadow: none;
  width: 20px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  i {
    color: #333;
    font-size: 1rem;
  }
}

.arrow-img {
  width: 32px;
  height: 32px;
}

.arrow-img.left {
  transform: rotate(180deg);
}

.arrow-img.right {
  transform: none;
}

.span-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.6rem;
  font-style: bold;
}

.testimonial-text-span {
  text-align: right;
}

.testimonial-text-span-2 {
  text-align: left;
}

.span-bar {
  background-color: white;
  width: 1.5px;
  height: 20%;
  left: 50%;
  top: 55%;
  position: absolute;
}
@media (max-width: 768px) {
  .success-cases-container {
    flex-direction: column;
  }

  .video-section,
  .testimonials-section {
    width: 100%;
  }
}
