<section class="about-us-section">
  <div class="pillar pillar-left">
    <img
      src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762284045/Coluna_w1uakz.png"
      alt="Pilar esquerdo"
    />
  </div>
  <div class="pillar pillar-right">
    <img
      src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762284045/Coluna_w1uakz.png"
      alt="Pilar direito"
    />
  </div>

  <div class="content-wrapper">
    <div class="main-content">
      <div class="statue-container">
        <img
          src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762284049/Estatua_ydwxr8.png"
          alt="Estátua"
        />
      </div>
      <div class="ruler-container">
        <img
          src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762284397/R%C3%A9gua_wmzaor.png"
          alt="Régua"
        />
      </div>
      <div class="text-content">
        <div class="tittle-box">
          <h2>
            QUEM <br />
            <span>SOMOS</span>?
          </h2>
        </div>
        <div class="description-box">
          <p>
            Na Majesto, acreditamos que o franchising é um dos modelos de
            negócio mais poderosos para crescer de forma estruturada e
            sustentável. Por isso, somos uma agência de marketing especializada
            exclusivamente em franquias — entendemos as particularidades do
            setor e sabemos que cada ação precisa ir além da comunicação:
            precisa gerar resultados reais para franqueadores e franqueados.
          </p>
          <p>
            Nosso propósito é desmistificar o marketing para franquias e mostrar
            que, quando bem aplicado, ele fortalece marcas, aumenta a
            performance das unidades e potencializa a expansão da rede.
          </p>
          <p>
            Com uma equipe experiente e soluções estratégicas, ajudamos
            franquias a:
          </p>
          <ul>
            <li>Estruturar e profissionalizar sua comunicação;</li>
            <li>
              Criar campanhas que conectam franqueados, clientes e o mercado;
            </li>
            <li>Apoiar a expansão com marketing que atrai investidores;</li>
            <li>Manter a rede engajada e alinhada ao propósito da marca.</li>
          </ul>
          <p>
            Mais do que uma agência, somos parceiros na jornada de crescimento
            da sua franquia.
          </p>
          <p>
            Porque, quando a rede cresce de forma saudável, todos crescem
            juntos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-background"></div>
</section>
