.about-us-section {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-image: url("https://res.cloudinary.com/dquoq5xn3/image/upload/v1762284159/Fundo_pg_3_b9ch2b.png");
  background-size: cover;
  background-color: #a11e2f;
}

.pillar {
  position: absolute;
  top: -30px;
  height: 1050px;
  width: 1100px;
  z-index: 2;
  margin: 0;
}

.pillar-left {
  left: 0;
  transform: translateX(-47%);
}

.pillar-right {
  right: 0;
  transform: translateX(47%);
}

.pillar img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.statue-container {
  position: absolute;
  width: auto;
  height: 1000px;
  top: 300px;
  left: -360px;
  z-index: 2;
}

.statue-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.ruler-container {
  position: absolute;
  width: auto;
  height: 260px;
  top: 240px;
  left: -50px;
  z-index: 1;
}
.ruler-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.content-wrapper {
  position: relative;
  z-index: 5;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.text-content {
  display: flex;
  flex-direction: row;
  z-index: 3;
  color: white;
}

.tittle-box {
  position: absolute;
  top: 120px;
  font-size: 4rem;
  line-height: 1.2em;
  font-family: "League Spartan", sans-serif;
}

.tittle-box span {
  margin-left: 70px;
}

.description-box {
  position: absolute;
  width: 900px;
  top: 280px;
  right: -40px;
  font-size: 1.4rem;
  font-family: "League Spartan", sans-serif;
}

.description-box p {
  padding: 12px;
}

.description-box ul {
  margin-left: 50px;
}

.footer-background {
  position: absolute;
  top: 840px;
  width: 100vw;
  height: 180px;
  background-image: url("https://res.cloudinary.com/dquoq5xn3/image/upload/v1762284291/Fundo_Ch%C3%A3o_bqvecw.png");
  z-index: 1;
}

@media (max-width: 1280px) {
  .pillar {
    height: 850px;
  }

  .description-box {
    width: 600px;
    font-size: 1.2rem;
    right: 100px;
    top: 220px;
  }

  .statue-container {
    height: 600px;
    top: 380px;
    left: -30px;
  }
  .ruler-container {
    height: 160px;
    top: 350px;
    left: 130px;
  }
  .tittle-box {
    font-size: 2.8rem;
    top: 230px;
    left: 140px;
  }

  .footer-background {
    top: 650px;
  }
}

@media (max-width: 430px) {
  .about-us-section {
    height: 900px;
  }
  .pillar {
    display: none;
  }

  .description-box {
    width: 400px;
    font-size: 1.2rem;
    right: 10px;
    top: 170px;
  }

  .statue-container {
    display: none;
  }
  .ruler-container {
    display: none;
  }
  .tittle-box {
    font-size: 2.8rem;
    top: 60px;
    left: 50px;
  }

  .footer-background {
    top: 750px;
  }
}

@media (max-width: 390px) {
  .about-us-section {
    height: 900px;
  }
  .description-box {
    width: 370px;
    font-size: 1.1rem;
    right: 10px;
    top: 170px;
  }

  .tittle-box {
    font-size: 2.8rem;
    top: 60px;
    left: 30px;
  }

  .footer-background {
    top: 750px;
  }
}
