<ng-container>
  <section class="about-us">
    <div class="background-container">
      <img
        ngSrc="assets/background-about-us.webp"
        width="1920"
        height="1080"
        priority
        alt="Fundo da seção Sobre Nós"
        class="background-img"
      />
    </div>
    <div class="column-container left-column">
      <div class="column-wrapper">
        <img
          class="column-image"
          appImageManager="../../../assets/column.webp"
          alt="Left column"
        />
      </div>
    </div>
    <div class="ruler-container">
      <img
        class="ruler-image"
        appImageManager="../../../assets/ruler.png"
        alt="Ruler"
      />
    </div>

    <div class="estatue-container">
      <div class="estatue-wrapper">
        <img
          class="estatue-image"
          appImageManager="../../../assets/estatue.webp"
          alt="Estatue"
        />
      </div>
    </div>
    <div class="about-us-content">
      <div class="about-us-tittle">
        <h2>
          QUEM <br />
          <span>SOMOS?</span>
        </h2>
      </div>
      <div class="about-us-text">
        <p>
          Somos uma agência de marketing líder, especializada em Performance,
          Branding, Tech, Comunicação Institucional, Social, Produção
          Audiovisual e Influência.
        </p>
        <p>
          Com base em São Paulo, e escritórios na Espanha e Portugal, temos uma
          atuação internacional. Nossa paixão é transformar negócios por meio da
          comunicação, aplicando estratégias inovadoras e contando com uma
          equipe altamente capacitada, colaborando para criar experiências
          envolventes que impulsionam o engajamento e a conversão.
        </p>
        <p>
          Se você busca uma Agência de Marketing que entende a importância da
          performance e domina a gestão de mídia, assessoria de marketing,
          marketing e construção de sites, estamos prontos para ser seu parceiro
          na jornada do sucesso. Como podemos ajudar você a alcançar seus
          objetivos?
        </p>
        <p>Fale agora mesmo com um Especialista em Marketing e Publicidade.</p>
      </div>
    </div>

    <div class="column-container left-column">
      <div class="column-wrapper">
        <img
          class="column-image"
          appImageManager="../../../assets/column.webp"
          alt="Left column"
        />
      </div>
    </div>
  </section>
</ng-container>
