<section class="solutions">
  <div class="background-container">
    <img
      ngSrc="assets/background-solutions.png"
      priority
      width="200"
      height="200"
      alt="fundo seção soluções"
      class="background-img"
    />
  </div>

  <div class="solutions-content">
    <div class="solutions-tittle">
      <h2>
        <div class="first-line">
          <span class="augustus">NOSSAS SOLUÇÕES</span><br />
        </div>
        <div class="second-line">
          <span class="red">EM</span><span class="spartan">MARKETING</span
          ><br /><span class="red">E</span>
          <span class="spartan">PUBLICIDADE</span>
        </div>
        <div class="red-line"></div>
        <div class="solutions-text">
          <p>
            Conheça as soluções que a nossa agência de marketing pode oferecer
            <br />
            ao seu negócio: tech, branding, performance, assessoria de
            marketing, <br />
            institucional, social e muito mais.
          </p>
        </div>
      </h2>
    </div>
  </div>

  <div class="solutions-hover">
    <div>SOCIAL</div>
    <div>PERFORMANCE</div>
    <div>BRANDING</div>
  </div>

</section>
