.solutions {
  background-color: #0c0c1c;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 11;
  margin-top: 19vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  height: 100%;
}
.background-img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
  right: 0;
  pointer-events: none;
}

.solutions-content {
  position: relative;
  z-index: 12;
  text-align: center;
  max-width: 90%;
  color: white;
  text-align: left;
  right: 10vw;
  line-height: 1;
}

.augustus {
  color: white;
  font-family: "Augustus", sans-serif;
  font-size: 2.3rem;
}

.spartan {
  font-family: "League Spartan", sans-serif;
  font-size: 6.5rem;
  margin-top: 23vh;
  font-weight: 900;
}

.red {
  color: #a11e2f;
  font-family: "Augustus", sans-serif;
  font-weight: 100;
  font-size: 6rem;
}

.first-line {
  line-height: 1.4;
  margin-left: 0.3vw;
}
.second-line {
  line-height: 0.7;
}
.red-line {
  background-color: #a11e2f;
  width: 92%;
  height: 0.4vh;
  margin-left: 0.3vw;
  margin-top: 3vh;
}

.solutions-text {
  color: white;
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
  margin-top: 3vh;
  margin-left: 0.3vw;
}

.solutions-hover {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 3rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  z-index: 12;
  left: 8vw;
  bottom: 2vh;
}

.solutions-hover div {
  border-radius: 50px;
  box-sizing: border-box;
  border: 5px solid #a11e2f;
  text-align: center;
  padding: 20px 10px 10px 10px;
  margin-top: 30px;
  background-color: #000000ab;
  width: 28vw;
}

.solutions-hover div:hover {
  background-color: #a11e2f;
  color: white;
  border: 5px solid #0c0c1c;
}

@media (min-width: 1490px) and (max-width: 1700px) {
  .solutions-content {
    right: 6vw;
  }
  .solutions-hover {
    left: 6vw;
  }
}
