<div class="loading-overlay" *ngIf="isLoading$ | async">
  <div class="loading-container">
    <!-- Logo ou nome da empresa -->
    <div class="logo">
      <img src="assets/Logo.png" alt="Majesto" />
      <h1>MAJESTO</h1>
      <span>AGENCY</span>
    </div>

    <!-- Barra de progresso -->
    <div class="progress-container">
      <div class="progress-bar">
        <div class="progress-fill" [style.width.%]="progress$ | async"></div>
      </div>
      <div class="progress-text">
        Carregando... {{ progress$ | async | number : "1.0-0" }}%
      </div>
    </div>
</div>
