<section class="cases">
  <div class="assets-cases">
    <img class="star star-left" src="https://pfpl3j0odur2kscj.public.blob.vercel-storage.com/Images/star.webp" />
    <img class="star star-right" src="https://pfpl3j0odur2kscj.public.blob.vercel-storage.com/Images/star.webp" />
  </div>
  <div class="cases-content">
    <h2 class="cases-text">
      <span>CONHEÇA MELHOR NOSSOS</span><br />
      <span>CASES DE SUCESSO</span>
    </h2>
    <button class="btn-cases">
      ACESSAR <i id="arrow" class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>
