<section class="customers">
  <div class="customers-container">
    <div class="customer">
      <img src="./assets/workingCat.gif" class="gif" />
      <img src="./assets/bubble-logo.png" class="logo" />
    </div>
    <div class="customer">
      <img src="./assets/workingCat.gif" class="gif" />
      <img src="./assets/pop-logo.png" class="logo" />
    </div>
    <div class="customer">
      <img src="./assets/workingCat.gif" class="gif" />
      <img src="./assets/continental-logo.png" class="logo" />
    </div>
    <div class="customer">
      <img src="./assets/workingCat.gif" class="gif" />
      <img src="./assets/sirene-logo.png" class="logo" />
    </div>
    <div class="customer">
      <img src="./assets/workingCat.gif" class="gif" />
      <img src="./assets/asia-flavors-logo.png" class="logo" />
    </div>
    <div class="customer">
      <img src="./assets/workingCat.gif" class="gif" />
      <img src="./assets/logo6.png" class="logo" />
    </div>
  </div>
</section>
