<section class="customers">
  <div class="customers-container">
    <div class="customer">
      <video class="video" autoplay muted playsinline loop preload="metadata">
        <source
          src="./assets/customer-video/croissant.webm"
          type="video/webm"
        />
      </video>
      <img src="./assets/bubble-logo.png" class="logo" />
    </div>

    <div class="customer">
      <video class="video" autoplay muted playsinline loop preload="metadata">
        <source src="./assets/customer-video/moncloa.webm" type="video/webm" />
      </video>
      <img src="./assets/pop-logo.png" class="logo" />
    </div>

    <div class="customer">
      <video class="video" autoplay muted playsinline loop preload="metadata">
        <source
          src="./assets/customer-video/triamicci.webm"
          type="video/webm"
        />
      </video>
      <img src="./assets/continental-logo.png" class="logo" />
    </div>

    <div class="customer">
      <video class="video" autoplay muted playsinline loop preload="metadata">
        <source
          src="./assets/customer-video/10pasteis.webm"
          type="video/webm"
        />
      </video>
      <img src="./assets/sirene-logo.png" class="logo" />
    </div>

    <div class="customer">
      <video
        class="video"
        autoplay
        muted
        playsinline
        loop
        preload="auto"
        poster="./assets/color-icon/luahs-color.png"
      >
        <source src="./assets/customer-video/luahs.webm" type="video/webm" />
      </video>
      <img src="./assets/asia-flavors-logo.png" class="logo" />
    </div>

    <div class="customer">
      <video class="video" autoplay muted playsinline loop preload="metadata">
        <source
          src="./assets/customer-video/bubblemix.webm"
          type="video/webm"
        />
      </video>
      <img src="./assets/logo6.png" class="logo" />
    </div>
  </div>
</section>
