<section class="customers">
  <div class="customers-container">
    <div class="customer">
      <video class="video" muted playsinline loop>
        <source
          src="https://res.cloudinary.com/dquoq5xn3/video/upload/v1762283387/10pasteis_v1_1080p_pbz5ox.mp4"
          type="video/webm"
        />
      </video>
      <img
        src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762283797/10pasteis_white_lxyaid.png"
        class="logo"
        loading="lazy"
        alt="10 Pasteis"
      />
    </div>

    <div class="customer">
      <video class="video" muted playsinline loop>
        <source
          src="https://res.cloudinary.com/dquoq5xn3/video/upload/v1762283346/bubblemix_v1_1080p_jsz0in.mp4"
          type="video/webm"
        />
      </video>
      <img
        src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762283806/bubble_white_q0iiuu.png"
        class="logo"
        loading="lazy"
        alt="Bubble"
      />
    </div>

    <div class="customer">
      <video class="video" muted playsinline loop>
        <source
          src="https://res.cloudinary.com/dquoq5xn3/video/upload/v1762283326/croissant_v1_720p_q1dgrd.mp4"
          type="video/webm"
        />
      </video>
      <img
        src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762283687/IMG_4750_pvaopn.png"
        class="logo"
        loading="lazy"
        alt="Croi.to Go"
      />
    </div>

    <div class="customer">
      <video class="video" muted playsinline loop>
        <source
          src="https://res.cloudinary.com/dquoq5xn3/video/upload/v1762283430/luahs_v1_1080p_pfem64.mp4"
          type="video/webm"
        />
      </video>
      <img
        src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762283780/luah_white_zdvcca.png"
        class="logo"
        loading="lazy"
        alt="Luah"
      />
    </div>

    <div class="customer">
      <video class="video" muted playsinline loop>
        <source
          src="https://res.cloudinary.com/dquoq5xn3/video/upload/v1762283337/moncloa_v1_1080p_kdrdip.mp4"
          type="video/webm"
        />
      </video>
      <img
        src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762283811/moncloa-logo-2_yksdsp.png"
        class="logo"
        loading="lazy"
        alt="Moncloa"
      />
    </div>

    <div class="customer">
      <video class="video" muted playsinline loop>
        <source
          src="https://res.cloudinary.com/dquoq5xn3/video/upload/v1762283340/triamicci_v1_1080p_k5lmia.mp4"
          type="video/webm"
        />
      </video>
      <img
        src="https://res.cloudinary.com/dquoq5xn3/image/upload/v1762283837/triamicci_logo_xs48vw.png"
        class="logo"
        loading="lazy"
        alt="Triamicci"
      />
    </div>
  </div>
</section>
